body {
  --light-blue: rgb(67, 155, 190);
  --dark-blue: rgb(33, 101, 139);

  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

h1 {
  color: var(--dark-blue);
}

ol, ul {
  padding-left: 30px;
} 

ul li {
  font-size: 20px;
  color: white;
  background-color: var(--dark-blue);
  margin: 20px;
  padding: 20px;
  display: block;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.quiz {
  display: flex;
  flex-direction: row;
}

.quiz-info {
  margin-left: 20px;
}
